#logo {
  height: 50px;
}

.main-style {
  background-color: #04C945;
  min-height: 100vh;
  color: #565600;
  display: flex;
  justify-content: center;
  align-items: center;

}

.quote {
  background-color: #565600;
  min-height: 100vh;
  color: #04C945;
  display: flex;
  justify-content: center;
  align-items: center;

}

.word {
  color: #909090;

}

#btn {
  background-color: #8D0033;
  color: #909090;
  border-color: #909090;

}

#ex1Slider .slider-selection {
	background: #BABABA;
}
