{% extends "base.html" %}

{% block content %}
  <section class="main-style">
    <div>
      <h1>Peppers Video Checker</h1>
      <h4>Summary... <span class='word'> wip:</span></h4>
      <h4>Please scroll down to proceed.<br><br>
      <input id="ex1Slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="10"/>
    </div>
  </section>

  <section class="quote" id="upload">
  <div>
    <h2>Let's get started!</h2>
    <h4>Please upload or select a file.</h4>
    <br>
  </div>
  <div>
  <p>
  	{% with messages = get_flashed_messages() %}
  	  {% if messages %}
  		<ul class=flashes>
  		{% for message in messages %}
  		  <li>{{ message }}</li>
  		{% endfor %}
  		</ul>
  	  {% endif %}
  	{% endwith %}
  </p>
</div><br>
  <form method="post" action="/upload" enctype="multipart/form-data">
      <dl>
  		<p>
  			<input type="file" name="file" autocomplete="off" required>
  		</p>
      </dl>
      <p>
  		<input type="submit" value="Submit">
  	</p>
  </form>
</section>
{% endblock %}
